numpy
pandas
tqdm
scipy
PyYAML
ml-collections
matplotlib
ipywidgets
py3Dmol
pydantic
optree
protobuf
icecream
ipdb
networkx
einops
biopython==1.86
biotite==1.6.0
rdkit==2025.9.5
modelcif==1.4
gemmi==0.6.7
pdbeccdutils==1.0.0
fair-esm==2.0.0
scikit-learn==1.7.1
scikit-learn-extra==0.3.0
kaggle
jupyterlab
ipykernel
